
.reveal .noborder {
  border: 0 solid white;
  margin:0;
  padding:0;
  background: none;
  box-shadow: none;
}

.reveal .multiply {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.reveal .superspacer li {
  padding-bottom: 10px;
}

.footer_logo {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #71e9f4;
  color: #006BB6;
}

.footer_logo img {
  margin-bottom: -5px;
  cursor: pointer;
  height: 20px;
}



/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/


/*
.reveal a:not(.image) {
  color: #A4C639;
}


.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #A4C639;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #A4C639;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #A4C639;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #A4C639;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #A4C639;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #A4C639;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #A4C639;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #A4C639;
}
*/